{% extends 'adminn/home.html' %}

{% load static %}
    
{% block content %}

    <div class="button-row">
        <a href="{% url 'addbrand' %}" class="button mt-5 me-5" style="background-color: green;">Add Brand</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for brands in brand %}
            <tr>
                <td>{{ brands.id }}</td>
                <td>{{ brands.name }}</td>

                <td><a href="{% url 'updatebrand' brand_id=brands.id %}">
                    <button class="edit-btn">Edit</button>
                    </a>
                </td>
                
                <td>
                    {% if brands.is_listed %}
                    <a href="{% url 'unlistbrand' brand_id=brands.id %}"><button style="background-color: red;" class="delete-btn">Unlist</button></a>
                    {% else %}
                    <a href="{% url 'unlistbrand' brand_id=brands.id %}"><button style="background-color: green;"  class="delete-btn">List</button></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ahome' %}">
        <p style="text-align: center;">Back to Adminpanel</p>
    </a>
</body>

</html>

{% endblock content %}