{% extends 'adminn/home.html' %}

{% load static %}

{% block content %}


<style>
    .brandadd {
        margin-top: 80px;
        margin-bottom: -250px;
        margin-right: 650px;
    }
</style>

<div class="button-row" >
    <a href="{% url 'addbrand' %}" class="button brandadd" style="background-color: green;">Add Brand</a>
</div>
<table id="brand">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for brands in brand %}
        <tr>
            <td>{{ brands.id }}</td>
            <td>{{ brands.name }}</td>

            <td >
                <a href="{% url 'updatebrand' brand_id=brands.id %}">
                    <button class="edit-btn" id="brandedit">Edit</button>
                </a>

                {% if brands.is_listed %}
                <a href="{% url 'unlistbrand' brand_id=brands.id %}"><button style="background-color: red;"
                        class="delete-btn">Unlist</button></a>
                {% else %}
                <a href="{% url 'unlistbrand' brand_id=brands.id %}"><button style="background-color: green;"
                        class="delete-btn">List</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#brand').DataTable();
    });
</script>


{% endblock content %}