{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="{% static 'adminn/addcategory.css' %}">
</head>
<body>
    <h1>Edit Category</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" value="{{ category.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4">{{ category.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="current_image">Current Image:</label>
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="Current Image" style="height: 100px;width: auto;">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_image">New Image:</label>
            <input type="file" id="new_image" name="new_image">
        </div>
        <div class="form-group">
            <label for="is_listed">Is Listed:</label>
            <select id="is_listed" name="is_listed">
                <option value="1" {% if category.is_listed %} selected {% endif %}>Yes</option>
                <option value="0" {% if not category.is_listed %} selected {% endif %}>No</option>
            </select>
        </div>
        <button type="submit" class="button">Update Category</button>
    </form>
</body>
</html>
