{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="{% static 'adminn/addcategory.css' %}">
</head>
<body>
    <h1>Edit Category</h1>
    <form id="editCategoryForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" value="{{ category.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4">{{ category.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="current_image">Current Image:</label>
            <img id="currentImage" src="{{ category.image.url }}" alt="Current Image" style="height: 100px; width: auto;">
        </div>
        <div class="form-group">
            <label for="new_image">New Image:</label>
            <input type="file" id="new_image" name="new_image" onchange="previewNewImage(event)">
        </div>
        <div class="form-group" id="newImagePreviewContainer" style="display: none;">
            <label for="new_image_preview">New Image Preview:</label>
            <img id="newImagePreview" src="" alt="New Image" style="height: 100px; width: auto;">
        </div>
        <div class="form-group">
            <label for="offer">Offer (%):</label>
            <input type="number" id="offer" name="offer" value="{{ category.offer }}" required min="0" max="100">
        </div>
        <div class="form-group">
            <label for="is_listed">Is Listed:</label>
            <select id="is_listed" name="is_listed">
                <option value="1" {% if category.is_listed %} selected {% endif %}>Yes</option>
                <option value="0" {% if not category.is_listed %} selected {% endif %}>No</option>
            </select>
        </div>
        <button type="submit" class="button">Update Category</button>
    </form>

    <a href="{% url 'categories' %}">
        <p style="text-align: center;">Back to Category List</p>
    </a>

    <script>
        function previewNewImage(event) {
            const newImage = event.target.files[0];
            const newImagePreview = document.getElementById('newImagePreview');
            const newImagePreviewContainer = document.getElementById('newImagePreviewContainer');

            const reader = new FileReader();
            reader.onload = function() {
                newImagePreview.src = reader.result;
                newImagePreviewContainer.style.display = 'block';
            }
            reader.readAsDataURL(newImage);
        }
    </script>
</body>
</html>
