{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Cricket lovers</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/title1.jpg' %}">
    <link rel="stylesheet" href="{% static 'adminn/home.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">⚾Cric-kart⛹️-admin page👨🏻‍💻</div>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="user-welcome">🙏🏻Welcome, {{ user.username }}✔️</div>
            <ul class="nav-links">
                <li><a href="{% url 'alogout' %}">🔓Logout</a></li>
            </ul>
            {% else %}
            <ul class="nav-links">
                <li><a href="{% url 'alogin' %}">🔓Admin Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    
    

    <div class="content-wrapper" >
        {% block content %}

        {% if user.is_authenticated and user.is_superuser %}
        <center>
        <div class="dashboard-container" >
            <ul class="dashboard-links">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">SalesReport</a></li>
                <li><a href="{% url 'categories' %}">Category</a></li>
                <li><a href="{% url 'brandlist' %}">Brand</a></li>
                <li><a href="{% url 'userlist' %}">UserList</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="#">OrderDetails</a></li>
                <li><a href="#">Coupon</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="#">Banner</a></li>
            </ul>
        </div>
        </center>
    

        {% endif %}

        {% endblock content %}
    </div>
    

    <footer>
        <p>&copy; 2024 Cricket Website. All rights reserved.</p>
    </footer>
</body>

</html>