{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'adminn/product.css' %}">
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <table class="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Image1</th>
                    <th>Image2</th>
                    <th>Image3</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>${{ product.selling_price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="Product Image" class="product-image">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'ahome' %}">
        <p style="text-align: center;">Back to Adminpanel</p>
    </a>
</body>
</html>
