{% extends 'adminn/home.html' %}

{% load static %}

{% block content %}


<style>
    .user-table {
        margin-top: 100px !important;
        margin-bottom: 120px;
    }

    #usertable{
        margin-top: 150px;
    }

</style>

    <table class="user-table ms-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Account Created</th>
                <th>Last Login</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td>
                    {% if user.is_active %}
                    <span style="color: green;">Active</span>
                    {% else %}
                    <span style="color: red;">Blocked</span>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{% url 'update_status' user.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <select name="status">
                            <option value="blocked">Block</option>
                            <option value="active">Unblock</option>
                        </select>
                        <button type="submit">Update Status</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}