
{% extends 'userapp1/main.html' %}
{% block content %}
<h1>Available Products in {{ category.name }} {{products_count}}</h1>
{% if products %}
<div class="container" style="margin-bottom: 120px;">
    <div class="row">
        {% for product in products %}
        <div class="card col-md-3 my-2 mx-2 p-3"  style="width: 16rem;">
          <a  style="text-decoration: none; color: black;"  href="{% url 'productdetails' product.id %}">
            <img src ="{{ product.image2.url }}" class="product-img" style="height: 200px;width: 200px;" alt="">
            <i  class="fa-regular fa-heart fa-xl position-absolute top-0 end-0 px-3 py-4 "></i>
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <div class="d-flex  justify-content-between" >
                <p class="card-text">₹ {{product.selling_price}}</p>
                <s class="card-text text-danger">₹ {{ product.selling_price|add:200 }}</s>
              </div></a>
              <a href="#" class="btn btn-success">Shop now</a>
            </div>
          </div>

        {% endfor %}
    </div>
</div>
     

{% else %}
  <p>No products available in this category.</p>
{% endif %}
{% endblock %}



