{% extends 'userapp1/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'userapp1/login.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="center">
    
    <form id="loginForm" class="login-form" method="post">
        <h2 style="color: goldenrod; text-align: center;">User Login Here</h1>
        {% csrf_token %}
       
        <h3><label style="margin-left: 60px;" class="user" for="usernameInput">Username</label></h3>
        <input type="text" id="username" name="username" placeholder="username">
       
        <h3><label style="margin-left: 60px;" class="password" for="">Enter Password</label></h3>
        <input type="password" id="password" name="password" placeholder="password">
        <button class="btn"  type="submit">Submit</button>
       
        
        <div class="forget">
            <a href="{% url 'forgetpass' %}">Forget Password ? </a>
        </div>
        
        {% load socialaccount %}
        
        <div class="register">
            <a href="{% url 'userregister' %}"> Click Here to Register </a>
        </div>
    </form> 
</div>



<style>
    .error{
        color: red;
    }
</style>

<script>
    $('#loginForm').validate({
        rules: {
            username: {
                required: true
            },
            password:{
                required: true
            }
        },
        submitHandler: async function (form, event) {
            event.preventDefault()

            const formData = new FormData(form);  // Use FormData to include CSRF token

            const response = await fetch('', {
                method: 'POST',
                headers: { "X-CSRFToken": formData.get('csrfmiddlewaretoken') },  // Include CSRF token in headers
                body: formData
            })

            const responseData = await response.json()

            if(responseData.isBlocked) {
                return await Swal.fire({
                    icon: "error",
                    title: "User Blocked",
                    text: "Your Account has been Blocked create new Account and try again...😭",
                });
            } 

            if (responseData.success) {
                window.location.href = '/'
            } else {
                await Swal.fire({
                    icon: "error",
                    title: "Wrong username or password",
                    text: "Please enter valid credentials",
                });
            }

        }
    })
</script>

{% endblock %}