{% extends 'userapp1/main.html' %}
{% load static %}
{% block content %}

{% block title %}
<title>Product Details</title>
{% endblock title %}

<link rel="stylesheet" href="{% static 'userapp1/productdetails.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-10">
                    <img style="height: 500px;width: 450px; border :5px solid black;" id="mainImg" src="{{ product.image1.url }}" alt="{{ product.product_name }}" class="img-fluid">
                </div>
                <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                    <img style="border: 3px solid black; margin-right: 30px; height: 100px; width: 100px;" id="img1" onclick="clickedImg1('{{ product.image1.url }}')" src="{{ product.image1.url }}" alt="{{ product.product_name }}" class="img-fluid my-3">
                    <img style="border: 3px solid black; margin-right: 30px; height: 100px; width: 100px;" id="img2" onclick="clickedImg1('{{ product.image2.url }}')" src="{{ product.image2.url }}" alt="{{ product.product_name }}" class="img-fluid my-3">
                    <img style="border: 3px solid black; margin-right: 30px; height: 100px; width: 100px;" id="img3" onclick="clickedImg1('{{ product.image3.url }}')" src="{{ product.image3.url }}" alt="{{ product.product_name }}" class="img-fluid my-3">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">{{ product.product_name }}</h1>
            <h3 class="text-center ms-1 text-danger">₹ {{ product.selling_price }}</h3>
            <p class="mt-5 fw-bold">{{ product.description }}</p>
            {% if product.stock > 0 %}
            <form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' product_id=product.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="quantity" class="form-label" style="margin-left: 20px;color: red;font-weight: bold;">Select Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1" max="10" style="width: 300px;">
                </div>
                <button type="button" class="btn btn-warning" onclick="addToCart()"><i class="fa-solid fa-cart-shopping"></i> ADD TO CART</button>
                <button type="button" class="btn btn-danger ms-3" id="addToWishlistBtn" onclick="addToWishlist('{{ product.id }}')">
                    <i class="fa-regular fa-heart"></i> ADD TO WISHLIST
                </button>
            </form>
            {% else %}
            <button type="button" class="btn btn-danger ms-3">OUTOF STOCK</button>
            {% endif %}
        </div>
    </div>
</div>

<!-- Similar products section -->
{% if similar_products %}
<h1 class="mt-5 text-center text-danger">Similar Products</h1>
<div class="container text-center" style="margin-bottom: 150px;">  
    <div class="row">
        {% for similar_product in similar_products %}
        {% if similar_product.category.is_listed and similar_product.brand.is_listed and similar_product.is_listed %}
        <div class="col-md-2 my-3 mx-3 border border-5">
            <a class="text-decoration-none" href="{% url 'productdetails' similar_product.id %}">
                <img style="height: 150px;width: 150px; margin-top: 20px;" src="{{ similar_product.image1.url }}" alt="{{ similar_product.product_name }}" class="img-fluid" style="height: 220px; width: 300px;">
                <p class="product-name text-black fw-bold my-2">{{ similar_product.product_name }}</p>
                <p class="product-price text-danger">${{ similar_product.selling_price }}</p>
            </a>
            <a style="margin-bottom: 25px;" href="{% url 'shop_view' %}" class="btn btn-success">Shop Now</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<h1 class="mt-5 text-center text-danger">No Similar Products Available</h1>
{% endif %}



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    let submitted = false;

    function clickedImg1(url) {
        const mainImg = document.getElementById('mainImg')
        mainImg.setAttribute('src', url)
    }

    function addToCart() {
        if (!submitted) {
            const quantity = parseInt(document.getElementById('quantity').value);
            if (quantity > 0) {
                document.getElementById('add-to-cart-form').submit();
                submitted = true;
            }
        }
    }

    document.getElementById('addToWishlistBtn').addEventListener('click', function() {
        // Get the product ID from the button's data attribute or any other source
        var productId = 123; // Replace with the actual product ID

        // Make an AJAX request to add the product to the wishlist
        $.ajax({
            url: '/wishlist/add/' + productId + '/',
            method: 'GET',
            success: function(response) {
                // Handle success response
                console.log(response);
            },
            error: function(xhr, status, error) {
                // Handle error
                console.error(xhr.responseText);
            }
        });
    });;


    function addToWishlist(productId) {
    $.post(`/wishlist/add/${productId}/`, {'csrfmiddlewaretoken': '{{ csrf_token }}'})
    .done(function(response) {
        if (response.success) {
            // Item added to wishlist successfully
            Swal.fire({
                icon: 'success',
                text: 'Item added to wishlist successfully.'
            });
        } else {
            // Check the specific message returned by the server
            if (response.message.includes('already exists in wishlist')) {
                // Item is already in the wishlist
                Swal.fire({
                    icon: 'info',
                    text: 'Item is already in the wishlist.'
                });
            } else if (response.message.includes('already exists in cart')) {
                // Item is already in the cart
                Swal.fire({
                    icon: 'info',
                    text: 'Item is already in the cart.'
                });
            } else {
                // Handle other error messages
                Swal.fire({
                    icon: 'error',
                    text: response.message
                });
            }
        }
    })
    .fail(function(xhr, status, error) {
        // Handle AJAX request failure
        console.error(xhr.responseText);
    });
}



    
</script>

{% endblock %}
