{% extends 'userapp1/main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'userapp1/register.css' %}">

<form method="post" >
    {% csrf_token %}

    {% for field in registerform %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit">Register</button>
   <p style="color: red;">Already have an account? <a href="{% url 'userlogin' %}">Click for Login</a></p></center>
</form>

{% endblock content %}
