/* product-list.css */

.container {
    width: 100%; /* Use full width of the screen */
    padding: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 15px; /* Reduce padding for cells */
    font-size: 16px; /* Adjust font size */
}

.product-table th {
    background-color: #f2f2f2;
}

.product-image {
    max-width: 200px; /* Adjust max-width for product images */
    max-height: 200px; /* Adjust max-height for product images */
    display: block;
    margin: 0 auto;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn, .delete-btn {
    padding: 8px 16px; /* Adjust padding for buttons */
    border: none;
    cursor: pointer;
    font-size: 14px; /* Adjust font size for buttons */
}

.edit-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.delete-btn {
    background-color: #f44336; /* Red */
    color: white;
}

.delete-btn:hover, .edit-btn:hover {
    opacity: 0.8;
}

body {
    background-color: #ffcccc; /* Light Red */
}


.addproduct {
    margin-top: 20px;
    margin-bottom: 20px;
}

.addproduct button {
    padding: 12px 24px; /* Increased padding for a bigger button */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px; /* Increased border radius */
    cursor: pointer;
    position: relative;
    left: 250px; /* Position the button 250px from the left */
}

.addproduct button:hover {
    background-color: #45a049;
}


