{% extends 'userapp1/main.html' %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    h1 {
        text-align: center;
    }

    form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .error-message {
            color: red;
            font-size: 18px; /* Adjust font size as needed */
            margin-top: 5px;
    }
</style>

<div class="container">
    <h1>Change Password</h1>
    <form method="post" action="{% url 'change-password' %}">
        {% csrf_token %}
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="error-message">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password">
        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password">
        <button type="submit">Change Password</button>
    </form>
</div>
{% if success %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        // Display sweet alert notification for successful password change
        swal({
            title: "Success!",
            text: "Your password has been changed successfully.",
            icon: "success",
            buttons: false,
            timer: 2000  // Close sweet alert after 2 seconds
        }).then(() => {
            // Redirect user to their profile page
            window.location.href = "{% url 'profile' %}";
        });
    </script>
{% endif %}

{% endblock content %}
