body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; /* Center-align vertically within flex container */
    justify-content: flex-start; /* Align items to the start (left) of the container */
    gap: 20px; /* Adjust the space between items */
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    padding-top: 80px; /* Adjust the padding based on the height of your fixed header */
    /* Other styles for the main content */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
